:root {
    /* Thème par Défaut */
    --text-color: white;
    --background-color: #273746;

    --background-clock-color: #f0f3f4;
    --aiguilles-secondes-color: red;
    --aiguilles-minutes-color: #666;
    --aiguilles-heures-color: #333;
    --trait-color: black;
    --border-color: black;

    --text-button-color: rgb(255, 255, 255);
    --button-bg-color: #334a5f;
    --button-border-color: white;

    --dot-color: rgb(53, 53, 53);

    --bg-chichi: url('../img/Chirac.jpg');
}

.dark-theme {
    --text-color: #273746;
    --background-color: #0000003d; 

    --background-clock-color: #313131;
    --aiguilles-secondes-color: blue;
    --aiguilles-minutes-color: #fffbfb;
    --aiguilles-heures-color: #bb1d1d;
    --trait-color: #666;
    --border-color: white;

    --text-button-color: rgb(0, 0, 0);
    --button-bg-color: #717274;
    --button-border-color: rgb(0, 0, 0);

    --dot-color: rgb(255, 255, 255);

    --bg-chichi: url('../img/CharlieChaplin.jpg');
}

body {
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr auto; /* espace à gauche pour centrer */
    grid-template-areas: "left right";
    place-items: center;
    background: var(--background-color); 
    color: var(--text-color);
    transition: background-color 0.5s ease, color 0.5s ease;
}

.leftpanel {
    grid-area: left;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 20px;
}

.rightpanel {
    grid-area: right;
    justify-self: end;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 10%;
}

#BoutonMode {
    background-color: var(--button-bg-color);
    border-color: var(--button-border-color);
    border-radius: 8px;
    padding: 10px 20px;
    color: var(--text-button-color);
    font-size: 16px;
    transition: transform 0.3s ease;
    cursor: pointer;
}


#textmode {
    color: var(--text-button-color);
}


